.App {
    text-align: center;
    font-family: 'Orbitron', sans-serif; /* Futuristic font for a superhero theme */
    background-color: #1a1a1a; /* Dark background for contrast */
  }
  
  .App-header {
    background-color: #202020; /* Dark gray for header */
    padding: 20px;
    border-bottom: 3px solid #e62429; /* Bright red line for emphasis */
    color: #ffffff; /* White text for high contrast */
  }
  
  .App-input {
    margin: 10px;
    padding: 10px;
    border: 2px solid #e62429; /* Bright red border */
    border-radius: 4px;
    background-color: #f4f4f4; /* Light background for input fields */
    color: #202020; /* Dark text for readability */
  }
  
  .App-button {
    background-color: #007bff; /* Bright blue, common in superhero costumes */
    color: white;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .App-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }
  
  .App-error {
    color: #e62429; /* Red color for error messages */
    margin: 10px;
  }
  
  .App-toggle {
    background-color: #28a745; /* Green, another common superhero color */
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .App-toggle:hover {
    background-color: #218838;
  }
  
  /* Keyframe animation for the logo */
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Additional styles for Login and Register pages */
  .Login, .Register {
    padding: 20px;
    background-color: #16202A; /* Slightly darker background for distinction */
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    margin: 20px auto;
    max-width: 400px;
  }
  
  .Login h2, .Register h2 {
    color: #FFD700; /* Gold color for titles */
  }
  
  /* Adjust the button styling specifically for Login and Register */
  .Login .App-button, .Register .App-button {
    width: 100%;
    box-shadow: none; /* Optional: remove the box-shadow for a flat look */
  }

  .search-container {
    padding: 10px;
    margin-top: -20px; /* Adjust as necessary to position below the red line */
    background-color: #202020; /* To match the header */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Spacing between search inputs and button */
  }
  
  .superheroes-container {
    margin-top: 20px; /* Spacing between search area and cards */
  }
  
  .About-section {
    position: fixed; /* or 'absolute' depending on your layout */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10; /* Ensure it's above other content */
    width: 80%; /* or any other suitable width */
    max-width: 600px; /* or any other suitable max-width */
  }
  
  /* Optional: Backdrop styles */
  .About-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9; /* Below the modal but above other content */
  }

  .App-description {
    color: #fff; /* Adjust the color as needed */
    max-width: 800px; /* Or whatever maximum width you prefer */
    margin: 20px auto; /* Centers the paragraph and adds vertical space */
    font-size: 1rem; /* Adjust the font size as needed */
    line-height: 1.6; /* Adjust the line height for better readability */
    text-align: center; /* Center the text */
    padding: 0 10px; /* Add some padding if needed */
    font-family: strain; /* Apply a cursive font-family */
  }
  
  
  
  